$default-margin: 10px;

.container {
    display: flex;

    .item {
        &.todo-new-item {
            min-width: 300px;
        }

        &.todo-list {
            min-width: 400px;
            border: 1px solid #dedede;
            padding: $default-margin;
            margin: $default-margin;
        }

        ul {
            list-style-type: none;
            padding-left: $default-margin;

            > li {
                vertical-align: top;
                list-style: none;
            }


            &#todo-done {
                text-decoration: line-through;
                color: #555;

                input {
                    width: 0;
                    height: 0;
                }

                label::before {
                    content: "\2713";
                }
            }
        }
    }
}

.icon {
    margin-left: 50px;
    cursor: pointer;

    &:hover {
        color: blue;
    }

    &.icon-reset::before {
        content: "\21BB";
    }
}


.pull-right {
    float: right;
}
