html{color:#000;font-family:sans-serif;height:100%}html body{margin:0;height:100%}html body #text-container{min-height:100vh;display:flex;justify-content:center;align-items:center;color:#000}html body #text-container h1{text-shadow:10px 10px 0 #000;font-size:100px}
.pull-right{position:absolute;right:0}
